footer{
    grid-area: "footer";
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #cfd0d6  ;
    background-color: #000000;
    align-items: center;
    
    img{
        width: 100px;
    }
}