footer{
    grid-area: "footer";
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #cfd0d6  ;
    background-color: #000000;
    align-items: center;
    padding: 3px 6px;
    
    img{
        width: 100px;
        border-radius: 5px;
    }
    p{
        font-size: 8px;
    }
    @media screen and (min-width: 768px) {
        p{
            font-size: 14px;
        }
        
    }
}