$textcolor: #02030c;

body{
    display: flex;
    grid-template-areas: 
    "nav nav"
    "header header"
    "main main"
    "footer footer"
    
    ;
    


}
.contenedor{
    color: $textcolor;
    background-image: url(../img/10.jpg);
}
.contenedorpag{
    img{
        width: 320px;
    }

    @import "header";
    @import "footer";


    
}
nav{
    grid-area: "nav";
}

@import "header";
main{
    grid-area: "main";
    display: flex;
    flex-direction: column;
    
    
    .sectionmain{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img{
            width: 320px;
            border-radius: 5px;
            
        }

    }

    @media screen and (min-width: 768px){
        .sectionmain img{
            width: 720px;
        }
    
    }
    

}
@import "footer";

